/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Palette */
:root {
  --custom-blue: #3161e0;
  --custom-gray: #f6f6f6;
  --custom-black: #23272a;
  --custom-lightblue: #7289da;
}

/* Generics */
body {
  font-family: sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 3em;
  padding: 30px 50px;
}

h3 {
  padding: 25px;
}

h4 {
  color: var(--custom-lightblue);
}

p {
  padding: 25px;
  line-height: 25px;
}

/* Utils */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background-color: white;
  padding: 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex.gap {
  gap: 30px;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}

/* .debug .border {
  border: 2px dashed black;
} */

.bg-white {
  background-color: white;
  padding: 80px 0;
}

.bg-gray {
  background-color: var(--custom-gray);
}

.first.bg-gray {
  margin-bottom: -6px;
}

.last.bg-gray {
  padding-bottom: 100px;
}

.bg-stars {
  background-image: url('../img/stars.svg');
  background-repeat: no-repeat;
  background-size: 37%;
  background-position: 50%;
}

header {
  background-color: var(--custom-blue);
}

.item-image {
  width: 90%;
}

.download, .subscription {
  background-color: var(--custom-lightblue);
  color: white;
}

.flag {
  width: 25px;
}

.wave-container {
margin-bottom: 80px;
}

.bottom-wave-container {
  margin-top: 80px;
}

.wave {
  transform: rotate(180deg);
  filter: invert(100%);
}

.bottom-wave {
  filter: invert(100%);
}

/* # Navbar */

.navbar {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > * {
  padding: 10px;
  flex-basis: 20%;
}

.navbar-menu {
  flex-grow: 1;
  text-align: center;
}

.navbar-menu > a {
  padding: 0 15px;
  color: white;
  text-decoration: none;
}

.navbar-actions {
  text-align: right;
}

/* # Jumbotron */

.jumbotron {
  padding: 50px;
  height: 600px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  text-align: center;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .content {
  width: 50%;
}

.black-button {
  background-color: var(--custom-black);
  color: white;
}

.flex-button-gap {
  display: flex;
  gap: 25px;
  justify-content: center;
}

/* # Main & sections */
/* section {
  padding: 100px;
} */

section > .container {
  height: 100%;
}

.small-col > p {
  padding: 25px 53px;
}

.flex > .small-col {
  flex-basis: 40%;
}

.flex > .large-col {
  flex-basis: 60%;
}

.flex > .full-col {
  flex-basis: 100%;
  text-align: center;
}

/* # Footer */

footer {
  padding: 50px;
  background-color: var(--custom-black);
  color: white;
}

.footer-nav {
  height: 100%;
  display: flex;
}

.footer-nav > div {
  flex-basis: 25%;
}

.footer-top {

  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid white;

  display: flex;
}

.footer-top .footer-left {
  flex-basis: 30%;
}

.footer-top .footer-right {
  flex-basis: 70%;
}

.h3-footer {
  padding: 0;
  font-size: 2em;
}

.info-footer {
  padding: 45px;
  padding-bottom: 0;
}

.info-footer.right > * {
  padding-bottom: 11px;
}

.info-footer.right a {
  color: white;
  text-decoration: none;
}


.language {
  padding: 25px 0;
  cursor: pointer;
}

.icon {
  padding-right: 25px;
  cursor: pointer;
}



.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}




